<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="com.tama.car_center.CarCenterApp"
        android:allowBackup="true"
        android:configChanges="locale"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Syarah"
        tools:targetApi="33">
        <activity
            android:name="com.tama.car_center.home.vehicle.hisoty_detail.VehicalHistoryDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.tama.car_center.splash2.LegacySplashActivity"
            android:exported="true"
            android:theme="@style/LegacySplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tama.car_center.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.tama.car_center.onboarding.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name="com.tama.car_center.onboarding.change_language.ChangeLanguageActivity"
            android:exported="false" />
        <activity
            android:name="com.tama.car_center.home.HomeActivity"
            android:exported="false" />
        <activity
            android:name="com.tama.car_center.home.settings.account_info.AccountInformationActivity"
            android:exported="false" />
        <activity
            android:name="com.tama.car_center.home.settings.change_language.ChangeLanguageSettingActivity"
            android:exported="false" />
        <activity
            android:name="com.tama.car_center.home.settings.change_password.ChangePasswordActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="" />
    </application>

</manifest>